@{
    ViewBag.Title = "Home Page";
}

<style>
    body {
        background-color: antiquewhite;
    }
</style>

@*   <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
    @foreach (var item in Model) {
        <div style="width: 24%; height: 413px; overflow-y:hidden; margin-top: 5px;margin-bottom: 5px; min-width: 250px;">

            <img src="~/imagens/@item.Fotografia" style="width: 100%; min-height: 100%; height: auto; margin-top:-65px;" />

        </div>
    }
    </div>
*@

<div>
    <img src="~/imagens/dameumdia.jpg"/>
</div>

